  <header style = "background-color: pink";>
  <h1><img src="/images/pokeball-throwing.gif"></h1>
  <title>Pocket Match</title>
  <h1>Pocket Match</h1>
  <p><em>Pokémon-, I choose you!</em></p>
  <a class="nav" href="/">Home</a>
  <a class="nav" href="/quizz">Quiz</a>
  <a class="nav" href="/about">About</a>
    </nav>
  </header>