<span>Only one per question:</span>
<div style='display: flex; flex-direction:column; padding: 5px;' >
  <form class="form" action="/quizz" method="post">
  {{#each questions}}
    <label for='html' style="padding: 8px;">{{question}}
      {{#each answers}}
        <input type='radio' value='{{score}}' id='html' name='scoreOf{{../id}}' />
        {{content}}
      {{/each}}
    </label>
  {{/each}}
  <input type="submit" value="Submit">
</form>
</div>