<span>Only one per question:</span>
<div>
  {{#each questions}}
    <label for='html'>{{question}}
      {{#each answers}}
        <input type='checkbox' value='html' id='html' />
        {{content}}
      {{/each}}
    </label>
  {{/each}}

</div>