 
	<table>
	<tr>
	  <td>
	  	<div>
        {{#each questions}}
        	<p>{{question}}</p>
          {{#each answers}}  	
	    	    <ul>
	    	      <li><input class="answer" type="radio">
	              <label>{{content}}</label>
              </li>
    		    </ul>
          {{/each}}
        {{/each}}
	  	</div>
	  </td>


	