<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <img class="img-circle" src="{{image}}" alt="{{name}}">
  </div>
  {{/each}}
  <article>
  <h2 style="text-align:center;">Pokémon-, take the stage!</h2>
  <p>Hi, we are 3 Pokémons who wanted to be chosen to go on a battle. Please go to quiz page and make sure you find out your matching Pokémon!</p>
  </article>
</div>