<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <img class="img-circle" src="{{image}}" alt="{{name}}">
  </div>
  {{/each}}
  <h2>Pokémon-, take the stage!</h2>
  <p>Hi, we are 3 Pokémons who wanted to be choose for go on a battle. Please go to quiz page and make sure you find out your matching Pokémon!</p>
</div>