<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <img class="img-circle" src="{{image}}" alt="{{name}}">
  </div>
  {{/each}}
</div>

<div style="padding-top:500px"> {{>quizbutton}} </div>
