<div class="container">
  {{#each puppies}}
  <div class="puppy-list">
    <img class="img-circle" src="{{image}}" alt="{{name}}">
  </div>
  {{/each}}
</div>
<div style="text-align:center">{{>quizbutton}}</div>
