<div style="padding-left:600px">
<article style="text-align:center;">
<h2 class='quizHeader' style="text-align:center">Choose your answer</h2>

<span>Only one per question:</span>
<div style='display: flex; flex-direction:column; padding: 5px;' >
  <form class="form" action="/quizz" method="post">
  {{#each questions}}
    <label for='html' style="padding: 20px;"><h4>{{question}}</h4>
      <br> <br>
      {{#each answers}}
        <input type='radio' value='{{score}}' id='html' name='scoreOf{{../id}}' />
        {{content}}
      {{/each}}
    </label>
  {{/each}}
  <br>
  <input type="submit" value="Submit" class="button1">
</form>
</div>
</article>
</div>

