    <section style="display:flex; justify-content:center;">
      <article><h1 style="text-align: center" class="animate bounce animate--infinite">{{name}} I choose you!</h1></article>
    </section>
    <img src={{img}} alt={{name}} class="pokepoke">
