        <section style="padding-top:70px">
      <h1 style="text-align: center" class="animate bounce animate--infinite">{{name}} I choose you!</h1>
    </section>
    <img src={{img}} alt={{name}} class="pokepoke">
