body {
  background-image: url('https://devbeep.com/wp-content/uploads/2021/08/fff.png');
  font-family: 'lucida console', monospace;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.puppy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.puppy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-width: 5px;
  border-color: pink;
}

.title {
  text-align: center;
}

.nav {
  text-align: center;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 1%;
  text-align: center;
}

article {
  background-color: pink;
  border-radius: 25px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 50%;
}

/* Poke button */

.child-to-body {
  width: 300px;
  height: 400px;
  flex-shrink: 0;
}

.poke_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pokeball {
  position: relative;
  width: 150px;
  height: 150px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  animation-play-state: paused;
}

.pokeball:hover {
  animation-play-state: running;
}

@keyframes shake {
  0 {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.pokeball::before,
.pokeball::after {
  content: '';
  position: absolute;
}

.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}

.pokeball::after {
  top: calc(50% - 5px);
  width: 100%;
  height: 10px;
  background: #000;
}

.pokeball__button {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #7f8c8d;
  border-radius: 50%;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  box-shadow: 0 0 0 7px black;
  background: #fff;
  z-index: 10;
  animation: blink 0.5s alternate infinite;
  animation-play-state: paused;
}

.pokeball:hover .pokeball__button {
  animation-play-state: running;
}

@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #e74c3c;
  }
}

/*------------------------------------------------------*/
/* Utility classes */
.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate.animate--infinite {
  animation-iteration-count: infinite;
}

.animate.animate--delay-1s {
  animation-delay: 1s;
}

.animate.animate--fast {
  animation-duration: 0.6s;
}

.animate.animate--slow {
  animation-duration: 3s;
}

/* Animations */
@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
  animation-timing-function: ease-in;
}

@keyframes slideInRight {
  from {
    transform: translateX(300px);
  }

  to {
    transform: translateX(0);
  }
}

.slideInRight {
  animation-name: slideInRight;
  animation-timing-function: ease-in;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation-name: rotate;
  animation-timing-function: linear;

  transform-origin: top left;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation-name: bounce;
}

.pokepoke {
  padding-left: 500px;
  width: 800px;
  height: 800px;
}
