body {
  background-image: url('https://devbeep.com/wp-content/uploads/2021/08/fff.png');
  font-family: 'lucida console', monospace;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}

.puppy-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.puppy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.img-circle {
  border-radius: 50%;
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.title {
  text-align: center;
}

.nav {
  text-align: center;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 7 */
.btn-7 {
  background: linear-gradient(
    0deg,
    rgba(255, 151, 0, 1) 0%,
    rgba(251, 75, 2, 1) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: rgba(251, 75, 2, 1);
  background: transparent;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: rgba(251, 75, 2, 1);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}

header {
  padding: 1%;
  text-align: center;
}

article {
  background-color: lightpink;
  border-radius: 25px;
  padding: 20px;
}

/* Poke button */

.child-to-body {
  width: 300px;
  height: 400px;
  flex-shrink: 0;
}

.poke_box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.pokeball {
  position: relative;
  width: 150px;
  height: 150px;
  background: #fff;
  border: 5px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  animation-play-state: paused;
}

.pokeball:hover {
  animation-play-state: running;
}

@keyframes shake {
  0 {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.pokeball::before,
.pokeball::after {
  content: '';
  position: absolute;
}

.pokeball::before {
  background: red;
  width: 100%;
  height: 50%;
}

.pokeball::after {
  top: calc(50% - 5px);
  width: 100%;
  height: 10px;
  background: #000;
}

.pokeball__button {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #7f8c8d;
  border-radius: 50%;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  box-shadow: 0 0 0 7px black;
  background: #fff;
  z-index: 10;
  animation: blink 0.5s alternate infinite;
  animation-play-state: paused;
}

.pokeball:hover .pokeball__button {
  animation-play-state: running;
}

@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #e74c3c;
  }
}
