<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{>header}}
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="data:,">
  </head>
  <body>
    <div class="app">
      
      
      
      {{{body}}}
    </div>
  </body>
</html>
